name: Client
on:
  push:
    branches:
      - main
    paths:
      - 'packages/client/**'
      - '.github/workflows/client.yml'
  pull_request:
    branches:
      - main
    paths:
      - 'packages/client/**'
      - '.github/workflows/client.yml'
jobs:
  test:
    runs-on: ubuntu-latest
    name: Test
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 16
      - uses: bahmutov/npm-install@v1
        with:
          working-directory: packages/client
      - run: npm run lint --workspace packages/client
      - run: npm run build --workspace packages/client
      - run: npm test --workspace packages/client

