name: Client
on:
  push:
    branches:
      - main
    paths:
      - 'packages/client/**'
      - '.github/workflows/client.yml'
  pull_request:
    types:
      - opened
      # Triggered when a pull request's head branch is updated.
      # For example, when the head branch is updated from the base branch, when new commits are pushed to the head branch, or when the base branch is changed.
      - synchronize
    paths:
      - 'packages/client/**'
      - '.github/workflows/client.yml'
jobs:

  test:
    runs-on: ubuntu-latest
    name: Test
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 16
      - uses: bahmutov/npm-install@v1
      - run: npm run lint --workspace packages/client
      - run: npm run build --workspace packages/client
      - run: npm test --workspace packages/client

  release:
    name: Release
    runs-on: ubuntu-latest
    needs: test
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: googleapis/release-please-action@v4
        id: tag-release
        with:
          config-file: .github/release-please-config.json
          manifest-file: .github/release-please-manifest.json
      - uses: actions/checkout@v2
        if: ${{ fromJson(steps.tag-release.outputs.releases_created) }}
      - uses: actions/setup-node@v2
        if: ${{ fromJson(steps.tag-release.outputs.releases_created) }}
        with:
          node-version: '16'
          registry-url: https://registry.npmjs.org/
      - uses: bahmutov/npm-install@v1
        if: ${{ fromJson(steps.tag-release.outputs.releases_created) }}
      # --- Client deploy steps  ---------------------------------------------
      - name: Client - NPM Publish
        if: ${{ fromJson(steps.tag-release.outputs.releases_created) }}
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_AUTH_TOKEN}}
        run: npm publish --workspace packages/client

  typedoc:
    name: API docs
    runs-on: ubuntu-latest
    needs: release
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 16
      - uses: bahmutov/npm-install@v1
      - run: npm run typedoc --workspace packages/client
      - run: gh-pages -d generated-docs
        if: ${{ fromJson(steps.tag-release.outputs.releases_created) }}
